/* ycss Size */

.size\:7  { font-size:  7px; }
.size\:8  { font-size:  8px; }
.size\:9  { font-size:  9px; }
.size\:10 { font-size: 10px; }
.size\:11 { font-size: 11px; }
.size\:12 { font-size: 12px; }
.size\:13 { font-size: 13px; }
.size\:14 { font-size: 14px; }
.size\:15 { font-size: 15px; }
.size\:16 { font-size: 16px; }
.size\:17 { font-size: 17px; }
.size\:18 { font-size: 18px; }
.size\:19 { font-size: 19px; }
.size\:20 { font-size: 20px; }
.size\:21 { font-size: 21px; }
.size\:22 { font-size: 22px; }
.size\:23 { font-size: 23px; }
.size\:24 { font-size: 24px; }
.size\:25 { font-size: 25px; }
.size\:30 { font-size: 30px; }
.size\:35 { font-size: 35px; }
.size\:40 { font-size: 40px; }

.line-h\:100p { line-height: 100%; }
.line-h\:105p { line-height: 105%; }
.line-h\:110p { line-height: 110%; }
.line-h\:115p { line-height: 115%; }
.line-h\:120p { line-height: 120%; }
.line-h\:125p { line-height: 125%; }
.line-h\:130p { line-height: 130%; }

.size\:10pt { font-size: 10pt; }
.size\:11pt { font-size: 11pt; }
.size\:12pt { font-size: 12pt; }
.size\:13pt { font-size: 13pt; }
.size\:14pt { font-size: 14pt; }
.size\:15pt { font-size: 15pt; }
.size\:16pt { font-size: 16pt; }
.size\:17pt { font-size: 17pt; }
.size\:18pt { font-size: 18pt; }
.size\:19pt { font-size: 19pt; }
.size\:20pt { font-size: 20pt; }
