/* ycss Transform */

.transform\:0deg   { transform: rotate(0deg); }
.transform\:90deg  { transform: rotate(90deg); }
.transform\:180deg { transform: rotate(180deg); }
.transform\:270deg { transform: rotate(270deg); }
